// Set the base font-size to match *.puppet.com, so we can also reuse its rem sizes.

html {
  font-size: 16px;
}

// Set body text font-weight (Bootstrap has no preference, so the browser defaults it to 400.)

@font-weight-base: 300; /* Calibre Web Light */
@font-weight-bold: 500; /* Calibre Web Medium */
@font-weight-bullets: @font-weight-base;

body {
  font-weight: @font-weight-base;
}

b, strong {
  font-weight: @font-weight-bold;
}

// Style navbar search box
input#search-container.form-control {
  border-radius: 0;
  background: #222;
  border: 1px solid #555;
  color: #fff;
}

// Skip that table.table thing, man
// --------------------------------

table {
  .table;
  .table-striped;
  .table-condensed;
  .table-responsive;
}


// In-page TOC styling
// -------------------

nav.in-page {
  padding-top: 1em;
}

nav.multi-column {
  column-width: 13em;
  column-gap: 2.5em;
}

ol.toc {
  list-style-type: none !important;
  padding-left: 0;
  margin-left: 0;
}

ol.toc a {
  font-weight: @font-weight-base;
}

/* Second-level TOCs should have lighter text and be smaller */

ol.toc > li > ol.toc {
  padding-bottom: 0;
  padding-top: 0.25em;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  margin-left: 2.5em;
}

ol.toc > li {
  margin-bottom: 0;
  margin-left: 0;
/*
  padding-left: 0.5em;
 */
  line-height: 1.5em;
}

ol.toc > li:before {
  content: "»";
  color: @link-color;
  position: relative;
  left: -5px;
}

ol.toc > li > ol.toc > li {
  line-height: 1.25em;
  padding-bottom: 0.25em;
}

/* Sidebar navigation styling */
nav.main ul {
  list-style-type: none;
  margin-left: -1.5em;
}

nav.main > ul {
  margin-left: -2em;
}

nav.main ul > li::before {
  content: "»";
  font-weight: @font-weight-bullets;
  color: @link-color;
  position: relative;
  left: -0.75em;
  display: inline-block;
  width: 0.1em;
}

nav.main ul > li.hidden-nav::before {
  content: "+";
  font-weight: @font-weight-bullets;
  color: @gray-light;
}

nav.main ul > li.expanded-nav::before {
  content: "–";
  font-weight: @font-weight-bullets;
  color: @gray-light;
}

a.disabled-nav-link {
  cursor: text;
  color: @gray;
}

a.disabled-nav-link:hover {
  text-decoration: none;
}

nav.main ul > li strong {
  cursor: pointer;
  font-weight: normal;
}

nav.main ul > li strong:hover {
  color: @gray-light;
  text-decoration: underline;
}

/* The per-document version note div */
div#version-note {
  color: @brand-danger;
  margin-top: 0.5em;
}
div#version-note > .noisy {
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}

/* Blockquote notes */
blockquote {
  margin-top: 1rem;
  border-left: 5px solid #ffae1a;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
}
