/* Typography */
/* ---------- */

/* See also variables.less for some typography-related values. */

// Set the base font-size to match *.puppet.com, so we can also reuse its rem sizes.
html {
  font-size: 16px;
}

body {
  font-weight: @font-weight-base;
}

b, strong {
  font-weight: @font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  strong {
    color: @brand-amber;
  }
}

a {
  font-weight: @font-weight-medium;

  // Code spans in links are link-colored
  code {
    color: inherit;
  }

  // Set a visited link color (out of fashion, but has never been a bad idea).
  &:visited {
    color: @brand-dimmed;
  }
}

/* Style navbar search box */
/* ----------------------- */

input#search-container.form-control {
  border-radius: 0;
  background: #222;
  border: 1px solid #555;
  color: #fff;
}

/* Skip that table.table thing, man */
/* -------------------------------- */

table {
  .table;
  .table-striped;
  .table-condensed;
  .table-responsive;
}


/* In-page TOC styling */
/* ------------------- */

nav.in-page {
  padding-top: 1em;
  padding-bottom: 1em;
}

nav.multi-column {
  column-width: 13em;
  column-gap: 2.5em;
}

ol.toc {
  list-style-type: none !important;
  padding-left: 0;
  margin-left: 0;
  & > li {
    margin-bottom: 0;
    margin-left: 0;
    line-height: 1.5em;
    &:before {
      content: "»";
      color: @link-color;
      position: relative;
      left: -5px;
    }

    /* Second-level TOCs should have lighter text and be smaller */
    & > ol.toc {
      padding-bottom: 0;
      padding-top: 0.25em;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 0.9em;
      margin-left: 2.5em;
      & > li {
        line-height: 1.25em;
        padding-bottom: 0.25em;
      }
    }

  }
}


/* Sidebar navigation styling */
/* -------------------------- */

@font-weight-bullets: @font-weight-base;

nav.main ul {
  list-style-type: none;
  margin-left: -1.5em;
  & > li {
    &::before {
      content: "»";
      font-weight: @font-weight-bullets;
      color: @link-color;
      position: relative;
      left: -0.75em;
      display: inline-block;
      width: 0.1em;
    }
    &.hidden-nav::before {
      content: "+";
      color: @gray-light;
    }
    &.expanded-nav::before {
      content: "–";
      color: @gray-light;
    }
    strong {
      cursor: pointer;
      font-weight: @font-weight-medium;
      &:hover {
        color: @gray-light;
        text-decoration: underline;
      }
    }
  }
}

// Push that first UL left a bit more.
nav.main > ul {
  margin-left: -2em;
}

a.disabled-nav-link {
  cursor: text;
  color: @gray;
  font-weight: @font-weight-bold;
  &:hover {
    text-decoration: none;
  }
}



/* Callouts with colored accents */
/* ----------------------------- */

.callout(@color) {
  .callout-placeholder;
  margin-top: 1rem;
  border-left: 5px solid @color;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
}

/* The per-document version note div */
div#version-note {
  .callout(@brand-danger);
}

/* Blockquote notes */
blockquote {
  .callout(@brand-amber);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}
